mixin sections(data)
    if data === 'flex'
        section.sections(class='sections--' + data)
            .sections__inner
                .sections__container
                    .sections__item
                        .sections__title Прокачиваем мир
                        .sections__text Вы хотите сделать мир лучше и не готовы ждать всю жизнь, чтобы начать это делать?
                    .sections__item
                        .sections__title Мотивируем себя
                        .sections__text У вас есть собственная цель и вы не боитесь много работать, чтобы её достичь?
                    .sections__item
                        .sections__title Используем лучшее
                        .sections__text Вы способны применять разные подходы для достижения своих целей?
                    .sections__item
                        .sections__title Относимся с пониманием
                        .sections__text Вы не обвиняете других в свои неудачах и способны воспринимать критику?

    if data === 'text'
        section.sections(class='sections--' + data)
            .sections__inner
                .sections__container
                    h2.sections__title Прокачиваем мир!
                    p.sections__text Не следует, однако забывать, что укрепление и развитие структуры представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации форм развития.
                    p.sections__text Разнообразный и богатый опыт начало повседневной работы по формированию позиции способствует подготовки и реализации дальнейших направлений развития. Равным образом дальнейшее развитие различных форм деятельности позволяет оценить значение соответствующий условий активизации. С другой стороны постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт укрепление и развитие структуры позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что консультация с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
    if data === 'col'
        section.sections(class='sections--' + data)
            .sections__inner
                .sections__container
                    h2.sections__title Преимущества работы с нами
                    .sections__item
                        .sections__icon(style='background-image:url(%=static=%img/content/wallet.svg)')
                        .sections__title Делимся опытом и навыками
                        .sections__text Мы обучаем коллег всему, что знаем сами. Наш опыт уникален и проверен временем, а команда постоянно совершенствует свои знания и навыки.
                    .sections__item
                        .sections__icon(style='background-image:url(%=static=%img/content/wallet.svg)')
                        .sections__title Стабильная зарплата
                        .sections__text Вы без задержек получаете официальную зарплату. Также мы оплачиваем больничные и даем возможность брать оплачиваемый отпуск до 4 недель в год.
                    .sections__item
                        .sections__icon(style='background-image:url(%=static=%img/content/wallet.svg)')
                        .sections__title Гибкий график
                        .sections__text Мы умеем работать с теми, кто еще не закончил получать образование. Вы можете работать неполный рабочий день, брать отгулы на время сессии и диплома.