mixin diff(data)
    section.diff(style='background-image:url(%=static=%img/content/video-background.jpg)')
        .diff__inner
            .diff__title The Cobalt difference
            .diff__pre Groundbreaking robotics built with people in mind.
            .diff-item
                .diff-item__icon(style='background-image:url(%=static=%img/content/def-1.svg)')
                .diff-item__name Connecting humans and robots
                .diff-item__text Let robots take care of the tasks so that people can focus on decisions that matter.
            .diff-item
                .diff-item__icon(style='background-image:url(%=static=%img/content/def-2.svg)')
                .diff-item__name Perfect recall and reporting
                .diff-item__text Leave nothing to chance with an objective, accurate account you can rely on.
            .diff-item
                .diff-item__icon(style='background-image:url(%=static=%img/content/def-3.svg)')
                .diff-item__name Friendly, approachable design
                .diff-item__text Keep employees and customers at ease with robots designed to blend in.