$default-font-size: 16;

$grid-lm: 1170px;
$grid-ls: 972px;
$grid-sl: 768px;
$grid-sm: 480px;
$grid-s: 320px;

$white: #fff;
$black: #222222;
$grey: #EDEDED;
$dark-grey: #4E4D53;
$light: #f7f4fa;
$orange: #ec7831;
$dark: #1c1c1c;

$dpm: 'DIN Pro Medium';
$dpc: 'DIN Pro Cond';
$dpl: 'DIN Pro Light';
$dp: 'DIN Pro';
$dpb: 'DIN Pro Bold';
$rs: 'Roboto', sans-serif;

.btn {
    background-color: $orange;
    color: #fff;
    height: 50px;
    text-align: center;
    font-weight: 400;
    padding: 0 em(25, 12);
    border-radius: 25px;
    text-decoration: none;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $rs;
    font-size: em(16);
    text-transform: uppercase;
    letter-spacing: 0.02em;
    transition: .2s;
    &:hover {
        background-color: lighten($orange, 10);
    }
}


