mixin hero(data)
    section.hero
        .hero__wrapper
            .hero-item
                .hero-item__content
            .hero-item.hero-item--hidden
                .hero-item__content
                    div
                        | Мы ищем 
                        span талантов 
                        | и  
                        span саппортов 
                        |  в команду. Решите на какую категорию вы претендуете.
                a.hero__down.goTo(href='#next')
                    .hero__down-text 
                        i.fa.fa-plus
                        | Заполнить анкету
            .hero-item
                .hero-item__content Ты готов стать профессионалом?
