.hero {
    overflow: hidden;
    position: relative;
    &__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        transition: .3s;
        @include min-screen($grid-ls + 65px) {
            height:calc(100vh - 60px);
        }
        @include max-screen(1366px) {
            cursor: pointer;
        }
        @include max-screen($grid-ls + 65px) {
            flex-direction: column;
            height: calc(85vh - 60px);
            z-index: 1;
        }
        &:hover {
            .hero-item {
                &:nth-child(1) {
                    transform: translateX(-100%);
                    opacity: .1;
                    @include max-screen($grid-sl) {
                        transform: translateY(-100%);
                    }
                }
                &:nth-child(3) {
                    transform: translateX(100%);
                    opacity: .1;
                    @include max-screen($grid-sl) {
                        transform: translateY(100%);
                    }
                }
            }
            .hero-item--hidden {
                visibility: visible;
            }
        }
    }
    &__down {
        position: absolute;
        text-decoration: none!important;
        
        top: 65%;
        transform: translateY(-50%);
        left:0;
        right: 0;
        color: $black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 5;
        text-align: center;
        width: auto;
        margin:0 auto;
        cursor: pointer;
        transition: all .2s;
        @include max-screen($grid-sl + 65px) {
            top: 75%;
        }
        @include max-screen($grid-sm) {
            top: 85%;
        }
        &-text {
            color: $black;
            font-family: $dpb;
            font-size: em(16);
            text-transform: uppercase;
            line-height: 20px;
            display: flex;
            align-items: center;
            padding: 20px 25px;
            letter-spacing: 0.02em;
            transition: all .2s;
            position: relative;
            &::before{
                display: inline-block;
                position: absolute;
                border-radius: 25px;
                left:6px;
                top:50%;
                z-index: -1;
                content: '';
                padding: 25px;
                width: auto;
                background-color: $light;
                transition: ease .2s;
                transform: translateY(-50%);
            }
        }
        i.fa{
            position: relative;
            font-weight: 400;
            color:$orange;
            display: inline-block;
            padding-right: 25px;
        }
        &:hover{
            opacity: .8;
            .hero__down-text:before{
                padding-right:calc(100% - 20px);
            } 
        }
    }
}

.hero-item {
    width: 100%;
    background-color: $orange;
    padding-top: 50%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    transition: .5s;
    z-index: 2;
    &:first-child{
        position: absolute;
        display: none;
    }
    @include min-screen($grid-ls + 65px){
        padding-top: 0;
    }
    @include max-screen($grid-sl) {
        width: 100%;
    }
    
    @include max-screen($grid-sl) {
        padding-top: 0;
    }
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $white;
        font-size: em(46);
        font-weight: 300;
        padding: 5%;
        box-sizing: border-box;
        line-height: 54px;
        text-align: center;
        letter-spacing: -0.02em;
        @include min-screen($grid-ls + 65px) {
            height:calc(100vh - 60px);
            font-size: 46px;
        }
        @include max-screen($grid-sl) {
            position: relative;
            height: calc(76vh - 30px);
            line-height: 1.5;
            font-size: 36px;
        }
    }
    &--hidden {
        visibility: hidden;
        position: absolute;
        background-color: $white;
        margin: 0 auto;
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        top: 0;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        .hero-item__content{
            position: relative;
            color:$black;
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            font-size: em(20);
            line-height: 2;
            div{
                display: inline-block;
                span{
                    color:$orange;
                    font-weight: 600;
                    margin:0 5px;
                }
            }
            @include min-screen($grid-lm + 65px) {
                height:calc(100vh - 60px);
            }
            @include max-screen($grid-lm + 65px) {
                height:calc(75vh - 60px);
                position: absolute;
            }
            
        }
        @include max-screen($grid-sl + 65px) {
            position: absolute!important;
            top: 0;
            left: 0;
            transform: none;
            width: 100%;
            // height: 100%;
            z-index: -1;
        }
    }
}