mixin header(data)
    header.header
        .header__inner
            a(href='index.html').header__logo
                | LOGO
            .header__menu
                .header__menu-close.icon-cross2
                .header__menu-item.active
                    a(href='#') Menu
                    .header__menu-sub
                        a(href='robotics.html').active Sub menu active
                        a(href='security.html') Sub menu sample
                .header__menu-item
                    a(href='about.html') ABOUT
                .header__menu-item
                    a(href='careers.html') CAREERS
                .header__menu-item
                    a(href='#') LEARN
                    .header__menu-sub
                        a(href='#') Sub menu sample
                        a(href='#') Another sub menu
                .header__menu-item
                    a(href='contacts.html') CONTACT
            a(href='#next').header__button.btn Заполнить анкету
            .header__toggler.icon-menu