.contacts {
    padding: em(90) 0;
    padding-bottom: 60px;
    .gform_heading {
        color: $black;
        font-family: $dp;
        font-style: normal!important;
        font-size: em(32);
        font-weight: 300!important;
        letter-spacing: -0.16px;
        line-height: 1.31;
        margin-bottom: 40px;
        text-align: center;
        span{
            margin:0!important;
            font-style: normal!important;
        }
    }
    &__inner {
        @include wrapper();
        justify-content: center;
    }
    &__form {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        font-size: 16px;
        width: 590px;
        margin: 0 auto!important;
        max-width: 100%!important;
        @include max-screen($grid-sl) {
            justify-content: space-between;
        }
        
        input, textarea {
            appearance: none;
            border-radius: 0;
            display: block;
            width: 100%;
            border: 1px solid #ccc9c4;
            background-color: #fff;
            height: 44px;
            line-height: normal;
            color: $black;
            font-size: em(16);
            font-weight: 400;
            padding: 0 20px!important;
            &.invalid {
                border-color: #f20;
            }
            &:focus{
                color:$dark;
            }
            &.wpcf7-not-valid{
                border-color: #f20;
                & + .wpcf7-not-valid-tip{
                    display: none;
                }
            }
        }
        textarea {
            height: 150px;
            padding: 20px!important;
        }
        input:not([value=""]):not(:focus):invalid  {
            border-color: #f20;
        }
        span {
            display: block;
            &.right {
                text-align: right;
            }
            color: $dark;
            font-size: em(16);
            font-weight: 300;
            font-style: italic;
            letter-spacing: -0.08px;
            line-height: 1.5;
        }
        input[type='submit']{
            @extend .btn;
            height: 40px;
        }
    }
    &__bottom {
        background-color: #ecf6fb;
        padding: em(50) 25px;
        margin-top:35px;
    }
    &__info {
        width: 570px;
        margin: 0 auto;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        @include max-screen($grid-sl) {
            flex-wrap: wrap;
        }
    }
    &__i {
        &-col {
            width: auto;
            @include max-screen($grid-sl) {
                width: 100%;
                text-align: center;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            div {
                padding-right: 1em;
            }
        }
        &-title {
            color: $black;
            font-size: em(14);
            font-weight: 600;
            letter-spacing: -0.07px;
            line-height: 1.43;
            @include max-screen($grid-sl) {
                font-size: 16px;
            }
        }
        &-content {
            color: $black;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.5;
            a {
                color: $orange;
                font-size: em(16);
                text-decoration: none;
                display: block;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    
}