mixin contacts(data)
    section.contacts#next
        .contacts__inner
            .contacts__title Теперь расскажите о себе
            form.contacts__form
                ol.modal
                    li
                        .modal__title Фамилия и имя
                        .modal__field
                            input(type='text', placeholder='Сидоров Александр')
                    li
                        .modal__title Электронная почта
                            sup *
                        .modal__field
                            input(type='email', placeholder='sidorov@yandex.ru', required)
                    li
                        .modal__title Телефон
                        .modal__field
                            input(type='tel', placeholder='+7 (999) 328-14-20')
                    li
                        .modal__title Какой деятельностью, не связанной с текущими проектами, вы бы хотели заниматься в рабочее время?
                        .modal__field
                            textarea(placeholder='Свой проект по созданию универсальной инфраструктуры строительства')
                .modal__field.modal__field--s.modal__field--vc
                    span.left *Обязательные поля.
                .modal__field.modal__field--s
                    button.btn(type='submit') Отправить