mixin request(data)
    section.request
        .request__inner
            .request__text See how Cobalt can transform your workplace security.
            a(href='#').request__button.btn request demo