.request {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    padding: em(64) 0;
    position: relative;
    z-index: 1;
    &__inner {
        @include wrapper();
        justify-content: center;
    }
    &__text {
        width: 100%;
        color: #fff;
        font-size: em(24);
        letter-spacing: -0.12px;
        line-height: 1.42;
        font-weight: 400;
        margin-bottom: 24px;
        text-align: center;
    }
    &__button {
        background-color: #fff;
        color: $orange;
        height: 40px;
        padding: 0 em(40);
        &:hover {
            background-color: lighten($orange, 55);
        }
    }
}
